html {
	height: 100%;
}

body {
	color: #333;
	font-family: Raleway;
	margin: 0;
	height: 100%;
	text-align: center;
	width: 100%;

	/* Flexbox to center everything */
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

.wrapper {
	padding: 2em;
}

.date {
	color: orange;
	font-size: 2em;
	font-size: 2vw;
}

.week {
	font-size: 12em;
	font-size: 12vw;
}